.project_details_btn {
    display: block;
    background: #e7e7e7;
    font-size: 1.5em;
    margin: 1em auto 0;
    padding: 0.25em;
    border-radius: 5px;
}

.project_details_btn:hover {
    display: block;
    background: #f6f6f6;
    font-size: 1.5em;
    margin: 1em auto 0;
    padding: 0.25em;
    border-radius: 5px;
}